<!DOCTYPE html>
<html lang="en">
<head style="background-color:peachpuff">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StatisticCollector </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body style="background-color:#C9C5C5">
    <header style="background-color:#808080">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-transparent border-bottom box-shadow mb-3" style="background-color:#808080">
            <div class="container"style="background-color:#808080">
                <a class="navbar-brand font-weight-bolder"  asp-area="" asp-page="/Index"> StatisticCollector</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" style="background-color:#808080">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark font-weight-normal" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark font-weight-normal" asp-area="" asp-page="/Addtext">Add Text</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark font-weight-normal" asp-area="" asp-page="/UserDictionaries/Create">Create</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark font-weight-normal" asp-area="" asp-page="/Statistics/GetStatistics">Get Statistics</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>
