@page
@model StatisticCollector.Pages.CheckLanguageModel
@{
    ViewData["Title"] = "Check language";
}
<form method="post">
  <div style="background-color:#ADAAAA" class="jumbotron">
   <h1 class="display-4 font-weight-lighter">A little prompt</h1>
   <p class="lead font-weight-normal">
           For now service is able to define only a few languages, which is shown in home page.
           Also, it works better if you enter at least one sentence.
   </p>
   <hr class="my-4">
   <big class="font-weight-normal">@Model.message</big>
   <div class="input-group mb-3">
       <input spellcheck="true" type="text" class="input-group-text font-weight-normal" style="background-color:#C9C5C5" name="inputText" aria-label="Input word" aria-describedby="basic-addon2">
       <div class="input-group-append">
           <button class="btn btn-secondary font-weight-normal" type="submit" value="Send">Send</button>
       </div>
   </div>
      </div>
</form>

       