@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 font-weight-lighter">Welcome</h1>
    <big class="text-info font-weight-normal text-dark">This is a service to work with words' statistics.</big>
</div>
<hr class="my-4">
<div class="text-md-center font-weight-normal">
 <big class="text-dark">What you can do there:</big>
</div>
<hr class="my-4">
<div class="card-group" style="background-color:#ADAAAA">
    <div class="card border-secondary mb-3">
        <div class="card-body">
            <h5 class="card-title">Get statistic</h5>
            <p class="card-text">You can enter a word and get frequency of its occurrence in local dictionaries... </p>
        </div>
    </div>
    <div class="card border-secondary mb-3">
        <div class="card-body">
            <h5 class="card-title">...Or improve local dictionaries</h5>
            <p class="card-text">
                You can add your text to replenish local dictionaries and make statistic results better.
                Also, try to add texts, not just words (at least 1 sentence) - it is necessary for correct definition of language.
            </p>
        </div>
    </div>
</div>
<hr class="my-4 bg-transparent">
<div class="card text-center"style="background-color:#ADAAAA">
    <div class="card-body">
        <h5 class="card-title">List of supported languages:</h5>
        <p class="card-text">Russian, english, spanish, portuguese and french.</p>
    </div>
</div>
