@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
    
<div class="text-center">
    <h1 class="display-4 font-weight-lighter">Welcome</h1>
    <p class="text-info font-weight-normal text-dark" >You can get staistic of using words or add your text to make results better.</p>
</div>
